/*
 THEME NAME: DigiTheme
 AUTHOR: Digilite Web Solutions
 VERSION: 3.0
 */

 /*FONTS*/

@font-face {
    font-family: 'futuralight';
    src: url('fonts/FuturaLight.woff2') format('woff2'),
        url('fonts/FuturaLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*DEFAULT CSS*/
* {
	outline: none !important;
	text-decoration: none !important;
}

body {
	min-height: 100vh;
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.2;
	position: relative;
}

a,
a:hover,
a:focus {
	color: #244A57;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
}

.transition {
	transition: .5s;
}

.relative-parent {
	position: relative;
}

.absolute-bottom {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
}

.absolute {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 20;
}

.alpha {
	padding-left: 0;
}

.omega {
	padding-right: 0;
}

.page-404 {
	padding-top: 40px;
	padding-bottom: 40px;
}

.alignnone {
	margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
	display: block;
	margin: 0 auto;
}

.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}

.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}

a img.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}

a img.alignnone {
	margin: 5px 20px 20px 0;
}

a img.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}

a img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption {
	max-width: 100%;
	text-align: center;
}

.wp-caption.alignnone {
	margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
	margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
	margin: 5px 0 20px 20px;
}

.wp-caption img {
	border: 0 none;
	height: auto;
	margin: 0;
	max-width: 98.5%;
	padding: 0;
	width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 13px;
    line-height: 20px;
    margin: 0;
    padding: 6px 0px 5px;
    text-align: left;
}

/* .row {
	margin-left: -12px;
	margin-right: -12px;
}

.container,
[class*="col-"] {
	padding-left: 12px;
	padding-right: 12px;
} */

/*MAIN CSS*/
header {
	width: 100%;
	position: absolute;
	margin-top: 54px;
}

.main-menu .menu-item {
	margin-left: 30px;
	list-style-type: none;
}

.menu-item a {
	color: #fff;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
}

.hero-mobile {
	background-image: url(img/hero1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center bottom;
	min-height: 800px;
	display: none;
}

.hero.owl-carousel .owl-item img {
	width: 100% !important;
}

.header-items {
	justify-content: space-between;
}

.service {
	text-align: center;
	padding: 58px 0 48px 0;
}

.block-name {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;
}

#logo {
	margin-left: 20px;
}

.page-title {
	color: #fff;
    font-family: futuralight;
    text-transform: uppercase;
    font-size: 54px;
    letter-spacing: 3px;
    text-align: right;
    padding-top: 23%;
}

.s-title {
	font-family: 'Raleway', sans-serif;
    color: #a10b67;
    font-size: 52px;
}

.service-icon {
	margin-top: 100px;
}

.service-name {
	font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
	color: #a10b67;
	padding-top: 30px;
	display: block;
}

.slide-brands .item{
	text-align: center;
	/*background-image: url(img/bgs.png);*/
	padding: 140px 0 100px 0;
}

.owl-carousel .owl-item img {
	width: 100% !important;
	margin: 0 auto;
}

.owl-carousel .owl-item {
   width: 500px;
}

.slide-brands .item {
	margin: 0 auto;
}

.owl-prev, .owl-next {
	width: 35px;
	position: absolute;
	z-index: 11;
}

.owl-prev {   
    left: 175px;
    top: 175px;
    font-size: 38px;
}

.owl-next {
    right: 175px;
    top: 175px;
    font-size: 38px;
}

#owl-demo .item img{
    display: block;
    width: 100%;
	height: auto;
}

.home #owl-demo .item img {
	margin-top: -33px;
}


.brands {
	position: relative;
}

.brands .block-name {
	text-align: center;
    position: absolute;
    z-index: 11;
    left: 48%;
    top: 57px;
}

#slide-control {
	margin-top: 80px;
}

.success {
	background-color: #000;
	padding: 140px 0 100px 0;
}

.count p {
	text-transform: uppercase;
    float: left;
    color: #fff;
    font-size: 27px;
    font-family: 'Raleway', sans-serif;
    margin-left: 17px;
    width: 100px;
    text-align: left;
}

.count div:last-child {
	padding-left: 90px;
}

.count p span{
	font-weight: bold;
    float: left;
}

.count img {
	float: left;
}

.block-desc {
	color: #939292;
	font-size: 24px;
	margin: 65px 0 100px 0;
}

.light-name {
	color: #939292;
}

.consulting {
	background-image: url(img/bg4.jpg);
	padding: 140px 0 100px 0;
	background-position: center bottom;
	background-size: cover;
	background-repeat: no-repeat;
	border-top: 8px solid #9b0a63;
}

.btn-b {
	color: #fff !important;
    background-image: linear-gradient(to right, #a10b67 , #4b042a);
    padding: 17px 40px;
    border-radius: 29px;
	cursor: pointer;
	transition: 0.2s;
}

.blog {
	padding: 140px 0 100px 0;
	position: relative;
}

.blog-item {
	margin-top: 70px;
}

.post-author {
	text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    color: #939292;
    margin-top: 20px;
}

.post-title {
	text-align: center;
    display: block;
    font-size: 19px;
	font-weight: bold;
}

.malinky-load-more {
	margin: 0 auto;
    margin-top: 80px;
}

.malinky-ajax-pagination-loading {
	position: absolute;
    bottom: 0px;
    left: 48%;
}

.malinky-load-more__button {
	color: #fff !important;
    background-image: linear-gradient(to right, #a10b67 , #4b042a);
    padding: 17px 40px;
    border-radius: 29px;
	cursor: pointer;
	transition: 0.2s;
}

.btn-b:hover {
	background-image: linear-gradient(to right, #4b042a , #a10b67);
}

.malinky-load-more__button:hover {
	background-image: linear-gradient(to right, #4b042a , #a10b67);
}

.full img {
	width: 100%;
}


/* Page */


footer {
	background-image: url(img/footer.jpg);
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
}

body.page-template-front-page header{
	position: absolute;
	z-index: 11;
    margin-top: 110px;
}

.page header {
	position: relative;
}

.page-template-page-story {
	background: url(img/bgstory.png), #000;
    background-position: right top;
	background-repeat: no-repeat;
	background-size: contain;
}

.page-g-title {
	color: #a10b67;
	margin-left: 50px;
    text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	margin-top: 80px;
}

.page-g-title span {
	color: #fff;
}

.in-page-desc {
	width: 91%;
    margin: 0 auto;
    background-color: #111;
	padding: 75px 85px;
	margin-top: 100px;
}



.in-page-desc p {
	color: #fff;
    font-size: 14px;
    font-family: futuralight;
    line-height: 25px;
}

.in-page-desc p.info-title {
	color: #fff;
    font-size: 19px;
    font-family: sans-serif;
    font-weight: 600;
	text-align: center;
	margin-bottom: 30px;
}

.story-image img {
	width: 100%;
	margin: 0 auto;
}

.page-template-page-consulting {
	background-color: #000;
}

.cons-in-page-desc {
	padding-bottom: 70px;
}

.cons-in-page-desc img {
	-webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    width: 65%;
    margin: 0 auto;
    display: block;
    margin-top: -70px;
}

.cons-page-info-t {
	width: 80%;
	margin: 0 auto;
}

.title-bold {
	color: #fff;
    font-size: 19px;
    font-family: sans-serif;
    font-weight: 600;
}

.info-desc {
	color: #fff;
    font-size: 13px;
    font-family: sans-serif;
    line-height: 21px;
}

.cons-image img {
	width: 100%;
}

.page-template-page-licensing {
	background-color: #000;
}

.lc-in-page-desc p {
	color: #fff;
    font-size: 14px;
    font-family: futuralight;
    line-height: 25px;
}

.lc-in-page-desc {
	width: 65%;
    margin: 0 auto;
	margin-top: 50px;
	
}

.lc-image {
	background-color: #111;
	padding: 40px 0 40px 0;
	margin-top: 40px;
}

.page-template-blog {
	background-color: #000;
}


.page-template-blog .post-title{
	color: #fff;
}

/* Single */

.single {
	background-color: #000;
}

.single header {
	position: relative;
}

.single header #logo{
	margin-left: 0;
}

.single-post-content {
	margin-top: 300px;
}

.boy-image {
	position: relative;
	z-index: 11;
}

.boy-image img {
	position: absolute;
	top: -580px;
}

.thumb {
	padding: 0;
	width: 100%;
}

.thumb img {
	width: 100%;
	height: auto;
}

.home .thumb img {
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.thumb h1 {
	color: #fff;
    font-family: futuralight;
    /* max-width: 400px; */
    /* float: right; */
    /* margin: 70px 40px 0 0; */
    text-align: center;
    margin-top: 30px;
}

.thumb .blog-item:first-child {
	width: 69%;
	float: right;
	margin-top: 0;
}

.thumb .blog-item:first-child h1{
	text-align: right;
    margin-right: 50px;
    /* margin-left: 240px; */
    width: 428px;
    float: right;
}

.ps-content {
	padding: 30px;
	width: 100%;
    margin-top: 100px;
}


.ps-content iframe {
	width: 100%;
    height: 608px;
}

.ps-content p {
	font-family: futuralight;
    color: #fff;
    font-size: 15px;
    letter-spacing: 0.58px;
    line-height: 22px;
}

.thumb .post1 {
	margin-top: 750px;
}

.sing-content {
	margin: 0 auto;
}

.sing-content p{
	font-family: futuralight;
    color: #fff;
    font-size: 15px;
    letter-spacing: 0.58px;
    line-height: 22px;
}

.single-post-content .container {
	background-color: #4a1e39;
    padding-bottom: 60px;
}

.ps-content iframe {
	width: 100%;
    height: 518px;
}

.single .thumb {
	min-height: 750px;
}


/* Brands */

.page-template-page-brands {
	background-color: #000;
}

.br-in-page-desc {
	width: 100%;
}

.br-in-page-desc p {
	color: #fff;
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;
}

.brand-title {
	font-family: futuralight;
	text-align: center;
    color: #fff;
    font-size: 48px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.br-in-page-desc h3 {
	color: #fff;
    font-size: 40px;
    margin-top: 60px;
}

.br-image {
	margin: 70px 0 70px 0;
}

.br-image img {
	width: 100%;
}

.brand-g-image {
	width: 100%;
	margin-top: 50px;
}

.page-template-page-brands #logo {
	margin-left: 0;
}

.page-template-page-brands .page-g-title {
	margin-left: 0;
	margin-top: 150px;
}

.page-id-136 .brand-title {
	display: none;
}

.page-id-136 .brand-g-image{
	width: 70%;
	margin: 60px auto;
    display: block;
}

.page-id-136 .br-in-page-desc h3 {
	text-align: right;
    font-family: futuralight;
    margin-top: 50px;
}

.br-in-page-desc h3 span {
	border-bottom: 3px solid #f8ad04d9;
}


.container-burger {
	display: inline-block;
	cursor: pointer;
	margin-top: 15px;
	margin-right: 15px;
	z-index: 11;
  }
  
  .bar1, .bar2, .bar3 {
	width: 35px;
	height: 5px;
	background-color: #fff;
	margin: 6px 0;
	transition: 0.4s;
  }
  
  .change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px);
	transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-8px, -8px);
  }

  .mobile-menu {
	  background-color: #000;
	  position: absolute;
	  width: 100%;
	  height: 100%;
	  top: 0;
	  left: 0;
	  display: none;
  }

  .show {
	  display: block;
  }

  .home .mobile-navigation .main-menu {
	  margin-top: 215px;
	  padding-left: 0;
  }

  .mobile-navigation .main-menu {
	margin-top: 130px;
    padding-left: 0;
  }

  .mobile-navigation  .main-menu .menu-item {
    padding: 12px 0 12px 12px;
}

.buzz {
	margin-right: 190px;
}

.image_buzz {
	justify-content: flex-end;
}

.single-post .page-g-title{
	margin-top: 47px;
    margin-bottom: 60px;
}

.container-burger {
	display: none;
}

.footer-menu {
	padding-left: 0;
}

.footer-menu li {
	list-style-type: none;
	margin-top: 15px;
}

.footer-title {
	color: #a10b67;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
}

footer .menu-item a {
	font-size: 16px;
    color: #939292;
}

footer .menu-item a:hover {
    color: #fff;
}

.contact-info div p {
    display: inline-flex;
    padding-left: 15px;
    color: #939292;
}

.contact-info div i {
	color: #fff;
    font-size: 16px;
}

.footer-social {
	margin-top: 40px;
}

.footer-social a {
	color: #fff;
	margin-left: 29px;
}

.footer-social a:first-child {
	margin-left: 0;
}

.footer-info {
	justify-content: space-between;
	padding: 100px 0 80px 0;
}

.copy {
	background-color: #000;
	text-align: center;
	color: #939292;
    padding: 15px 0 15px 0;
}

.cover {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.menu-item-has-children {
	position: relative;
  display: inline-block;
}

.owl-carousel .owl-controls .owl-dot {
	width: 14px;
    height: 14px;
    background-color: #000;
    float: left;
    margin-left: 10px;
    border-radius: 21px;
}

.owl-dots {
	width: 100px;
    margin-top: -90px;
    z-index: 9999;
    position: absolute;
    left: 48%;
}

.page-template-page-brands .owl-carousel .owl-item img {
	width: 100% !important;
}

.page-template-page-brands .owl-carousel .owl-nav .owl-prev, .page-template-page-brands .owl-carousel .owl-nav .owl-next{
	display: block !important;
}

.page-template-page-brands .owl-carousel .owl-nav .owl-prev i, .page-template-page-brands .owl-carousel .owl-nav .owl-next i{
	color: #fff;
}

.page-template-page-brands .owl-carousel .owl-nav .owl-prev {
	left: -15px;
    top: 45%;
}

.page-template-page-brands .owl-carousel .owl-nav .owl-next {
	right: -25px;
    top: 45%;
}

.page-template-page-buzz {
	background-color: #000;
}

.hero .owl-prev, .hero .owl-next {
	display: block !important;
	background-color: #00000096;
	padding: 4px;
	color: #fff;
	top: 40%;
}

.hero .owl-prev {
	left: 5%;
}

.hero .owl-next {
	right: 5%;
}

.brh {
	width: 27%;
    display: block;
    margin: 0 auto;
}

.cons-image {
	position: relative;
}

.cons-image p {
	position: absolute;
    color: #fff;
    /* margin: 0 auto; */
    left: 38%;
    top: 38%;
    font-family: futuralight;
    font-size: 38px;
}

.cons_bk {
	margin-bottom: 37px;
}


/* Large desktops and laptops */
@media (min-width: 1230px) {
	.container { width: 1200px; }
}

@media (min-width: 1200px) {

}

@media (max-width: 1199px) {

}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	
}

@media (min-width: 992px) {
    .sub-menu {
		display: none;
		position: absolute;
		background-color: #121212;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		padding: 12px 16px;
		z-index: 1;
	}
	
	.sub-menu .menu-item {
		margin-left: 0;
		border-bottom: 1px solid #fff;
		padding-bottom: 6px;
	}
	
	.sub-menu .menu-item:last-child {
		border-bottom: none;
		padding-top: 8px;
	}
	
	.menu-item-has-children:hover .sub-menu {
		display: block;
	  }
}

@media (max-width: 991px) {
   
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) { 
    
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

	.page-template-page-brands .owl-carousel .owl-nav .owl-prev {
		left: 30px;
	}

	.page-template-page-brands .owl-carousel .owl-nav .owl-next {
		right: 15px;
	}

	.cons-image p {
		left: 12%;
		top: 38%;
		font-size: 29px;
	}

	.brh {
		width: 75%;
	}
    .thumb .blog-item:first-child {
		width: 100%;
	}

	.thumb .blog-item:first-child h1 {
		width: auto;
	}

	.thumb .post1 {
		margin-top: 280px;
	}

	.ps-content iframe {
		height: auto;
	}

	.page-title {
		font-size: 40px;
		text-align: center;
		padding-top: 80%;
	}

	#logo {
		margin-left: 0;
		z-index: 11;
    	margin-top: 12px;
	}

	.main-navigation {
		display: none;
	}

	header {
		margin-top: 0;
	}

	.page-g-title {
		margin-left: 0;
	}

	.lc-in-page-desc {
		width: 100%;
	}

	.boy-image img {
		display: none;
	}

	.single-post-content {
		margin-top: 20px;
	}

	.buzz {
		margin: 0 auto;
		text-align: center;
    margin-top: 30px;
	}

	.thumb h1 {
		margin: 44px 25px 0 15px;
		font-size: 26px;
	}

	.single .thumb {
		min-height: 0;
	}

	.sing-content iframe {
		height: auto;
	}

	.in-page-desc {
		padding: 0;
	}

	.buzz img {
		width: 100%;
	}

	.container-burger {
		display: block;
	}

	.owl-carousel .owl-item img {
        width: 290px !important;
	}

	.sub-menu {
		display: none;
		margin-left: 0;
		padding-left: 0;
	}

	.mobile-navigation .main-menu .sub-menu .menu-item {
		padding-left: 0;
		margin-left: 0;
		padding-bottom: 0;
	}

	.mobile-navigation .main-menu .menu-item-has-children {
	}

	.hero-mobile {
		display: block;
	}

	.hero {
		display: none !important;
	}

	.page-template-page-brands .owl-carousel .owl-nav .owl-prev, .page-template-page-brands .owl-carousel .owl-nav .owl-next {
		top: 80px;
	}

	.brands .block-name {
		left: 38%;
	}

	.home #slide-control .owl-prev {
		left: 130px;
        top: 245px;
	}

	.home #slide-control .owl-next {
		right: 130px;
        top: 245px;
	}

	.count div {
		margin-top: 50px;
	}

	.count div:first-child {
		margin-top: 50px;
	}

	.count div:last-child {
		padding-left: 15px;
	}
	
}

/* Landscape phones and smaller */
@media (max-width: 544px) {

}

@media (max-width: 480px) {

}